@page
@model EmployeeHRManagementSystem.Areas.Master.Pages.IndexModel
@{
    ViewData["Title"] = "EmployeeList";
}
@section styles {
    <link href="~/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-xl-6 col-lg-6 mb-lg-0 mb-2">
                <button id="btnCreate" type="button" class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i>&nbsp;Create</button>
            </div>
        </div>
        <table id="table" class="table table-responsive nowrap w-100" cellspacing="0">
            <thead class="text-left bg-light">
                <tr>
                    <th>
                        EmployeeID
                    </th>
                    <th>
                        EmployeeName
                    </th>
                    <th>
                        CompanyName
                    </th>
                    <th>
                        Deparment
                    </th>
                    <th>
                        CreatedOn
                    </th>
                    <th>
                        UpdatedOn
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--Script-->
<partial name="_ScriptPartial" />
<!--Modal-->
<partial name="_CreateModalEmployee" />
<!--DataTables-->
<script src="~/datatables/js/jquery.datatables.min.js"></script>
<script src="~/datatables/js/datatables.bootstrap4.min.js"></script>
<!--validation-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script>

    $(function () {
        var table = $('#table').DataTable({
            ajax: '/api/Master/GetData',  
            scrollX: true, 
            columns: [
                { data: 'employeeId' },
                { data: 'employeeName' },
                { data: 'companyName' },
                { data: 'deparment' },
                { data: 'createdOn' },
                { data: 'updatedOn' },
                {
                    data: null,
                    render: function (row, type, data) {
                        return '<a href="Employee?id=' + row.employeeId + '" onclick="getEditEvent(this)"><i class="fa fa-edit"></i class="btn btn-outline-info">Edit<a/> | ' +
                            '<a href="Employee?id=' + row.employeeName + '" onclick="getDeleteEvent(this)"><i class="fa fa-trash"></i class="btn btn-outline-danger">Delete<a/> ';
                    }

                }
            ]
        });

        $('#btnCreate').click(function () {
            $('#createOptionForm').removeClass('was-validated');
            $('#txtType').val('Create');
            $('#OptionModelLabel').text('Create New Employee');
            $('#CreateEmployee').modal('show');
        });
        $('#btnOpCancle').click(function () {
            $('#CreateEmployee').modal('hide');

        });

        $('#btnOpSubmit').click(function () {
            var employeeId = $('#txtEmployeeID').val();
            var employeeName = $('#txtEMName').val();
            var companyName = $('#txtCMName').val();
            var deparment = $('#txtDPName').val();


            if ($('#txtType').val() == "Create") {
                var data = {
                    EmployeeId: employeeId,
                    EmployeeName: employeeName,
                    CompanyName: companyName,
                    Deparment: deparment,
                };

                if (employeeName !== '' && companyName !== '' && deparment !== '') {

                    $.ajax({
                        type: 'Post',
                        url: '/api/Master/Create',
                        dataType: 'Json',
                        data: data,
                        success: function (data) {
                            $('#CreateEmployee').modal('hide');
                            ResetItem();
                            table.ajax.reload();
                        },
                        complete: function (data) {

                        },
                        error: function (error) {
                            console.error("Error:", error);

                        }
                    });
                }
                else {
                    $('#createOptionForm').addClass('was-validated');
                }
            }
            else
            {
                if (employeeName !== '' && companyName !== '' && deparment !== ''){
                    var data = {
                        EmployeeId: employeeId,
                        EmployeeName: employeeName,
                        CompanyName: companyName,
                        Deparment: deparment,
                    };
                    $('#CreateEmployee').modal('show');
                    $.ajax({
                        type: 'PUT',
                        url: '/api/Master/Edit',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            $('#CreateEmployee').modal('hide');
                            ResetItem();
                            table.ajax.reload();
                        },
                        error: function () {

                        },
                        complete: function (data) {
                            table.ajax.reload();
                        }
                    });
                }
                else {
                    $('#createOptionForm').addClass('was-validated');
                }
            }
        });
        $('#btnOpCancle').click(function () {
            $('#CreateEmployee').modal('hide');
            table.ajax.reload();
        });
        $('#btnDelConfirm').click(function () {
            $('#DeleteEmployee').modal('hide');
            var id = $('#deleteEmployee').val();
            //console.log(id);
            $.ajax({
                url: '/api/master/delete?EmployeeID=' + id,
                type: 'Delete',
                dataType: 'json',
                success: function (data) {
                    table.ajax.reload();
                },
                error: function (data) {
                },
                complete: function (data) {
                    table.ajax.reload();
                }
            });
        });
        $('#btnDelCancel').click(function () {
            $('#DeleteEmployee').modal('hide');
            table.ajax.reload();
        });

    });

    function getEditEvent(e) {
        console.log($(e).attr('id'));
        employeeId = $(e).attr('id');
        $('#txtType').val('Edit');
        $('#OptionModelLabel').text('Edit Employee');
        $('#CreateEmployee').modal('show');
        var url = '/api/Master/byid?EmployeeID=' + $(e).attr('id');

        $.getJSON(url, function (data) {
            var employee = data['data'];
            console.log(employee);
            $('#txtEMName').val(employee.employeeName);
            $('#txtCMName').val(employee.companyName);
            $('#txtDPName').val(employee.deparment);
        });
    }
    function getDeleteEvent(e) {
        console.log($(e).attr('id'));

        $('#txtType').val('Delete');
        $('#DeleteModelLabel').text("Delete Confirmation");
        var url = '/api/master/byid?Employee=' + $(e).attr('id');

        $.getJSON(url, function (data) {
            var employee = data['data'];
            console.log(employee);
            $('#deleteEmployee').val(employee.employeeId);
            $('#lblEmployeeID').text(employee.employeeId);
            $('#lblEmpName').text(employee.employeeName);
            $('#lblCMName').text(employee.companyName);
            $('#lblDPName').text(employee.deparment);
        });
        $('#DeleteEmployee').modal('show');
    }

    function ResetItem() {
        $('#txtEMName').val('');
        $('#txtCMName').val('');
        $('#txtDPName').val('');
    }
</script>